@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Pawlandia</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Benvenuti in Pawlandia</h1>
            <h2 class="lead">Il posto migliore per trovare il tuo nuovo amico peloso online!</h2>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h2 class="display-4">La nostra attività</h2>
                <p class="lead">Pawlandia è un negozio online specializzato nella vendita di animali domestici di alta qualità. Siamo appassionati di fornire ai nostri clienti animali sani e felici che porteranno gioia nelle loro vite.</p>
                <p class="lead">Con una vasta gamma di specie e razze disponibili, siamo qui per aiutarti a trovare il perfetto compagno peloso per te e la tua famiglia.</p>
                <p class="lead">Oltre alla vendita di animali, offriamo una varietà di prodotti e servizi per prendersi cura dei tuoi amici pelosi. Dal cibo alle attrezzature, dai giocattoli agli accessori, abbiamo tutto ciò di cui hai bisogno per garantire il benessere del tuo animale domestico.</p>
                <p class="lead">Inoltre, siamo orgogliosi di sostenere il benessere degli animali e di collaborare con associazioni locali per promuovere la cura responsabile degli animali e aiutare gli animali randagi a trovare una casa amorevole.</p>
                <a href="/Home/ChiSiamo">Scopri di più su di noi</a>
            </div>
            <div class="col-md-6">
                <h2>Scopri i nostri amici pelosi</h2>
                <img src="~/img/Shire.jpg" alt="Immagine 1" class="img-fluid mb-3">
                <img src="~/img/Maine-Coon.jpg" alt="Immagine 2" class="img-fluid mb-3">
                <img src="~/img/Quarter.jpg" alt="Immagine 3" class="img-fluid mb-3">
                 <img src="~/img/asino.jpg" alt="Immagine 4" class="img-fluid mb-3">
               
            </div>
        </div>
        
     
    </div>

    
</body>
</html>

